<style type="text/css">
#layoutTabs {
  border: 1px solid #ccc;
}
#layoutTabs1, #layoutTabs2, #layoutTabs3 {
  clear: both;
  padding: 10px;
}
.layoutSpecTabs {
  border: 1px solid #ccc;
}
.layoutSpecTabs div {
  clear: both;
  min-height: 300px;
  padding: 10px;
}
.layoutTabs ul {
  height: 29px;
  margin: 0px 0px 0px 0px;
  padding: 5px 5px 0px;
  border-bottom: 1px solid #ccc;
  background-color: #ddd;
}
.layoutTabs ul li {
  float: left;
  display: inline-block;
  position: relative;
  top: 1px;
  margin: 0px 6px 0px 0px;
  padding: 0px;
}
.layoutTabs ul a {
  display: block;
  padding: 5px 10px;
  background-color: #eee;
  color: #000;
  cursor: pointer;
}
.layoutTabs ul a.current {
  border-bottom: 1px solid #fff;
  background-color: #fff;
}
</style>

<% javascript_tag do %>

var tabItems = [];
var tabAreas = [];

function initTabs() {
  var list = $('layoutTabs').getElementsByTagName("a");
  var tabs = $A(list);
  tabs.each(function(tab){
    var href   = tab.getAttribute('href');
    var areaId = href.replace(/^.*#/, '');
    tab.setAttribute('title', areaId);
    tab.removeAttribute('href');
    
    tabAreas.push(areaId);
    tabItems.push(tab);
    
    Event.observe(tab, "click", renderTab, false);
  });
}

function renderTab(event) {
  var tab    = Event.element(event);
  var areaId = tab.getAttribute('title');
  
  for (var i = 0; i < tabAreas.length; i++) {
    if (areaId.match('-') && !tabAreas[i].match('-')) {
      continue;
    }
    $(tabAreas[i]).hide();
  }
  
  for (var i = 0; i < tabItems.length; i++) {
    if (areaId.match('-') && !tabItems[i].getAttribute('title').match('-')) {
      continue;
    }
    tabItems[i].removeClassName('current');
  }
  tab.addClassName('current');
  
  $(areaId).show();
  if (!areaId.match('-')) {
    $(areaId + '-1').show();
    for (var i = 0; i < tabItems.length; i++) {
      if (areaId + '-1' == tabItems[i].getAttribute('title')) {
        tabItems[i].addClassName('current');
      }
    }
  }
}

<% end %>

<p class="form">基本情報</p>

<table class="show">
  <tr>
    <th><%= @item.locale(:concept_id) %></th>
    <td><%= safe{@item.concept.name} %></td>
  </tr><tr>
    <th><%= @item.locale(:name) %></th>
    <td><%=hbr @item.name %></td>
  </tr><tr>
    <th><%= @item.locale(:title) %></th>
    <td><%=hbr @item.title %></td>
  </tr>
</table>

<br />
<p class="form">レイアウト情報</p>

<div class="layoutTabs" id="layoutTabs">
  <ul>
    <li><a href="#layoutTabs1" class="current">標準レイアウト</a></li>
    <li><a href="#layoutTabs2">携帯レイアウト</a></li>
    <li><a href="#layoutTabs3">スマートフォンレイアウト</a></li>
  </ul>
  
  <div id="layoutTabs1">
    <div class="layoutSpecTabs">
      <ul>
        <li><a href="#layoutTabs1-1" class="current">HEADタグ</a></li>
        <li><a href="#layoutTabs1-2">BODYタグ</a></li>
        <li><a href="#layoutTabs1-3">スタイルシート</a></li>
      </ul>
      <div id="layoutTabs1-1" class="pre monospace"><%=hbr @item.head %></div>
      <div id="layoutTabs1-2" class="pre monospace" style="display: none;"><%=hbr @item.body %></div>
      <div id="layoutTabs1-3" class="pre monospace" style="display: none;"><%=hbr @item.stylesheet %></div>
    </div>
  </div>
  <div id="layoutTabs2" style="display: none;">
    <div class="layoutSpecTabs">
      <ul>
        <li><a href="#layoutTabs2-1">HEADタグ</a></li>
        <li><a href="#layoutTabs2-2">BODYタグ</a></li>
        <li><a href="#layoutTabs2-3">スタイルシート</a></li>
      </ul>
      <div id="layoutTabs2-1" class="pre monospace"><%=hbr @item.mobile_head %></div>
      <div id="layoutTabs2-2" class="pre monospace" style="display: none;"><%=hbr @item.mobile_body %></div>
      <div id="layoutTabs2-3" class="pre monospace" style="display: none;"><%=hbr @item.mobile_stylesheet %></div>
    </div>
  </div>
  <div id="layoutTabs3" style="display: none;">
    <div class="layoutSpecTabs">
      <ul>
        <li><a href="#layoutTabs3-1">HEADタグ</a></li>
        <li><a href="#layoutTabs3-2">BODYタグ</a></li>
        <li><a href="#layoutTabs3-3">スタイルシート</a></li>
      </ul>
      <div id="layoutTabs3-1" class="pre monospace"><%=hbr @item.smart_phone_head %></div>
      <div id="layoutTabs3-2" class="pre monospace" style="display: none;"><%=hbr @item.smart_phone_body %></div>
      <div id="layoutTabs3-3" class="pre monospace" style="display: none;"><%=hbr @item.smart_phone_stylesheet %></div>
    </div>
  </div>
</div>

<%= creator_view @item %>

<% javascript_tag do %>
initTabs();
<% end %>
