
  <table class="index">
  <tr>
    <th style="width: ;">マーカー名称</th>
    <th style="width: 20%;">マップ名称</th>
    <th style="width: 60px; text-align: right;">記事番号</th>
    <th style="width: ;">タイトル</th>
  </tr>
  <% for item in @items %>
  <% entity = item.entity %>
  <tr <%= cycle '', 'class="cycle"' %>>
    <td><%=h safe{entity.name} %></td>
    <td><%=h safe{item.entity_map.title} %></td>
    <td style="text-align: right;"><%=h safe{item.entity_doc.id} %></td>
    <td><%=h safe{item.entity_doc.title} %></td>
  </tr>
  <% end %>
  </table>

  <%= paginate @items %>